.container {
        max-width: 3000px;
        margin-left: auto;
        margin-right: auto;
}
a {
    text-decoration: none;
}
.row {
      max-width: 1170px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
}
.zipcodeSearch {
    position: relative;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 600;
}
.border-box {
    box-sizing: border-box;
}
.b-cover {
    background-size: cover;
}
.button-1{
    width:140px;
    height:50px;
    border:2px solid #2D2D2D;
    text-align:center;
    cursor:pointer;
    text-decoration: none;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin:0 0 40px 50px;
}
.buttonClicked {
    width:140px;
    height:50px;
    border:2px solid #2D2D2D;
    text-align:center;
    background-color: #8CB8D2;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin:0 0 40px 50px;
}
.button-1 a{
    color:#2D2D2D;
    line-height:50px;
    transition:all .5s ease;
    z-index:2;
    position:relative;
}
.left-push {
    width:140px;
    height:50px;
    left:-140px;
    background:#8CB8D2;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
}
.button-1:hover .left-push{
    left:0;
}
.bg-2D2D2D {
    background-color: #2D2D2D;
}
.bg-FBFEFF {
    background-color: #FBFEFF;
}
.bg-E5DCD1 {
    background-color: #E5DCD1;
}
.bg-8CB8D2 {
    background-color: #8CB8D2;
}
.bg-FFBF77 {
    background-color: #FFBF77;
}
.b-s {
    border: solid;
}
.b-w {
    border-width: thin;
}
.color-2D2D2D {
    color: #2D2D2D;
}
.color-FBFEFF {
    color: #FBFEFF;
}
.color-E5DCD1 {
    color: #E5DCD1;
}
.color-8CB8D2 {
    color: #8CB8D2;
}
.color-FFBF77 {
   color: #FFBF77;
}
.center {
    justify-content: center;
}
.content {
    min-height: calc(100vh - 70px);
}
.d-s {
    filter: drop-shadow(0 0 0.75rem #FBFEFF);
}
.d-f {
    display: flex;
}
.d-i {
    display: inline;
}
.d-ltr {
    direction: ltr;
}
.d-n {
    display: none;
}
.expand {
    height: 0px;
    overflow: hidden;
    transition: height 1s;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 3s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
    }
	100% {
		opacity: 1;
	}
}
.fade-in2 {
	opacity: 1;
	animation-name: fadeInOpacity2;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 4s;
}
@keyframes fadeInOpacity2 {
	0% {
		opacity: 0;
    }
	100% {
		opacity: 1;
	}
}
.fs-fredericka {
    font-family: 'Fredericka the Great', cursive;
}
.fs-didact {
    font-family: 'Didact Gothic', sans-serif;
}
.fs-6rem {
    font-size: 6.25rem;
}
.fs-5em {
    font-size: 5em;
}
.fs-1-25rem {
    font-size: 1.25rem;
}
.fs-1-5rem {
    font-size: 1.5rem;
}
.fs-2rem {
    font-size: 2.5rem;
}
.f-bold {
    font-weight: bold;
}
.form-container {
    max-width: 58%;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #D0CFCE;
}
input#form-bar {
    margin: 0 auto;
    width: 100%;
    height: 65px;
    padding: 0 10px;
    font-size: 1.5rem;
    background: transparent;
    border: 0;
    outline: none;
    font-family:inherit;
}
input#form-bar:focus {
      transition: 0.35s ease;
      color: #8CB8D2;
}
input#form-bar:-webkit-input-placeholder{
    transition: opacity 0.45s ease;
    opacity: 0;
}
input#form-bar:-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
input#form-bar:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
.f-e {
    justify-content: flex-end;
}
.f-s {
    justify-content: flex-start;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-auto {
    flex: auto;
}
.flex-basis {
    flex-basis: auto;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex-dr {
    flex-direction: row;
}
.foot {
    position: relative;
    z-index: 2;
    height: 100px;
    color: #2D2D2D;
    margin: auto;
    padding-top: 2vh;
    text-align: center;
    background-color: #E5DCD1;
}
.height100 {
    height: 100%;
}
.height70vh {
    height: 70vh;
}
.height80 {
    height: 80%;
}
.height10 {
    height: 10%;
}
.height30vh {
    height: 30vh;
}
.height25vh {
    height: 25vh;
}
.height600px {
    height: 600px;
}
.height200px {
    height: 200px;
}
.icons {
    width:2em;
    height:2em;
}
.images {
    height: 230px;
    width: 153px;
}
.image-auto {
    max-width: 100%;
    height: auto;
}
input[type=text-newpost] {
    width: 80%;
    height: 2em;
    font-family: 'Poppins', sans-serif;
}
input[type=text-modal] {
    width: 50%;
    height: 3em;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 15px 0;
}
input[type=password] {
    width: 50%;
    height: 3em;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 15px 0;
}
.jc-center {
    justify-content: center;
}
.l-h1 {
    line-height: 0.5;
}
.logo-carrot {
    width: 80px;
    height: auto;
}
.ma {
    margin: auto;
}
.ml-a {
    margin-left: auto;
}
.mr-a {
    margin-right: auto;
}
.mt-30vh {
    margin-top: 30vh;
}
.ml-75 {
    margin-left: 75%;
}
.ml-1em {
    margin-left: 1em;
}
.ml-01em {
    margin-left: .1em;
}
.ml-3em {
    margin-left: 3em;
}
.mr-3em {
    margin-right: 3em;
}
.mr-01em {
    margin-right: .1em;
}
.mt-3em {
    margin-top: 3em;
}
.mt-05em {
    margin-top: .5em;
}
.mt-1em {
    margin-top: 1em;
}
.mb-3em {
    margin-bottom: 3em;
}
.mb-2em {
    margin-bottom: 2em;
}
.mb-1em {
    margin-bottom: 1em;
}
.mb-3em {
    margin-bottom: 3em;
}
.mb-2em {
    margin-bottom: 2em;
}
.mb-1em {
    margin-bottom: 1em;
}
.pad-03em {
    padding: 0.3em;
}
.pad-2em {
    padding: 2em;
}
.pad-15px {
    padding: 0px 15px 0 0;
}
.pad-20px {
    padding: 20px 0 0 0;
}
.pad-b-20px {
    padding-bottom: 20px;
}
.pad-40px {
    padding: 40px 0 0 0;
}
.pad-30px {
    padding: 30 30 30 30;
}
.pl-3em {
    padding-left: 3em;
}
.pr-3em {
    padding-right: 3em;
}
.pos-a {
    position: absolute;
}
.pos-r {
    position: relative;
}
.pos-f {
    position: fixed;
}
.op:hover{
    opacity: 0.5;
}
.op-50 {
    opacity: 0.5;
}
.o-scroll {
    overflow: scroll;
}
.overflow-h {
    overflow-x: hidden;
}
.search-icon{
    position: relative;
    float: right;
    width: 100px;
    height: 100px;
    top: -80px;
    right: -20px;
}
.s-b {
    justify-content: space-between;
}
.s-e {
    justify-content: space-evenly;
}
.t-d {
    text-decoration: none;
}
.t-a-r{
    text-align: right;
}
.t-a-c {
    text-align: center;
}
.w-100per {
    width: 100%;
}
.width-100vw {
    width: 100vw;
}
.width-7vw {
    width: 7vw;
}
.width-50 {
    width: 50%;
}
.wrapper {
    transition: transform 0.3s ease;
}
.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2;
}
.z-index-3 {
    z-index: 3;
}
.bounce-1sec {
    position: relative;
    -webkit-animation:bounce 1s infinite;
}
.bounce-2sec {
    position: relative;
    -webkit-animation:bounce 2s infinite;
}
#infoWindow {
    position: absolute;
    z-index: 1;
    width: 25%;
    min-width: 200px;
    padding:  0 20px 0 18px;
    -moz-box-shadow: 5px 7px 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 5px 7px 10px rgba(0,0,0,.3);
    box-shadow: 5px 7px 10px rgba(0,0,0,.3);
    margin: 20px 0 0 20px;
    outline: 1px solid #E5DCD1;
    outline-offset: -8px;
}
.infoAddress {
    margin-top: -20px;
    margin-bottom: 40px;
}
.infoMarketname {
    clear: both;
}
.infoZipcode {
    float: left;
}
#marker {
    z-index: 999
}
@-webkit-keyframes bounce {
    0%       { bottom:1px; }
    25%, 75% { bottom:3px; }
    50%      { bottom:5px; }
    100%     {bottom:0;}
}
