
.container {
        max-width: 3000px;
        margin-left: auto;
        margin-right: auto;
 

}

.row {
      max-width: 1170px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
}

.zipcodeSearch {
    position: relative;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 600;
}


/* B */

/* border */
.border-box {
    box-sizing: border-box;
}
.b-cover {
    background-size: cover;
}
/* button stuff */


.button-1{
    width:140px;
    height:50px;
    border:2px solid #2D2D2D;
    text-align:center;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin:0 0 40px 50px;
    padding-top: 10px; 

  }

  .buttonClicked {
    width:140px;
    height:50px;
    border:2px solid #2D2D2D;
    text-align:center;
    background-color: #8CB8D2;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin:0 0 40px 50px;
    padding-top: 10px; 

  }


  /* .button-1 a{
    font-family:arial;
    font-size:16px;
    color:#2D2D2D;
    text-decoration:none;
    line-height:50px;
    transition:all .5s ease;
    z-index:2;
    position:relative;
  }
  .left-push {
    width:140px;
    height:50px;
    left:-140px;
    background:#8CB8D2;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
  }
  .button-1:hover .left-push{
    left:0;
  }
  .button-1:hover a{
    color:#8CB8D2;
  }
 */



  /* backgrounds */
.bg-2D2D2D {
    background-color: #2D2D2D; 
}
.bg-FBFEFF {
    background-color: #FBFEFF;
}
.bg-E5DCD1 {
    background-color: #E5DCD1;
}

.bg-8CB8D2 {
    background-color: #8CB8D2;
}
.bg-FFBF77 {
    background-color: #FFBF77;
}




.b-s {
    border: solid;
}
.b-w {
    border-width: thin;
}


/* C */

/* colors */
.color-2D2D2D {
    color: #2D2D2D; 
}
.color-FBFEFF {
    color: #FBFEFF;
}
.color-E5DCD1 {
    color: #E5DCD1;
}
.color-8CB8D2 {
    color: #8CB8D2;
}
.color-FFBF77 {
   color: #FFBF77;
}


/* flex box */
.center {
    justify-content: center;
}
.content {
    min-height: calc(100vh - 70px);
}

/* D */

/* flexbox */
.d-f {
    display: flex;
}
.d-i {
    display: inline;
}
.d-ltr {
    direction: ltr;
}
.d-n {
    display: none; 
}



/* E */

.expand {
    height: 0px;
    overflow: hidden;
    transition: height 1s;
  }

/* F */ 

.fade-in {

	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 3s;
    
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
    }
	100% {
		opacity: 1;
	}
}

/* fonts */

/* For title */
.fs-fredericka {
    font-family: 'Fredericka the Great', cursive;
}

/* for body */
.fs-didact {
    font-family: 'Didact Gothic', sans-serif;
}

/* font sizes */

.fs-6rem {
    font-size: 6.25rem; 
}
.fs-5em {
    font-size: 5em;
}
.fs-1rem {
    font-size: 1.25rem;
}
.fs-1-5rem {
    font-size: 1.5rem;
}
.fs-2rem {
    font-size: 2.5rem;
}
.f-bold {
    font-weight: bold;
}
/* form */

.form-container {
    
    max-width: 60%;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #D0CFCE;
  }

input#form-bar {
    margin: 0 auto;
    width: 100%;
    height: 65px;
    padding: 0 20px;
    font-size: 1.5rem;
    background: transparent;
    border: 0;
    outline: none;
    font-family:inherit;
}

input#form-bar:focus {
      transition: 0.35s ease;
      color: #8CB8D2;
}
input#form-bar:-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
          opacity: 0;
       }

input#form-bar:-moz-placeholder {
        transition: opacity 0.45s ease; 
          opacity: 0;
       }

input#form-bar:-ms-placeholder {
       transition: opacity 0.45s ease; 
         opacity: 0;
       }    


  

/* flex box */

.f-e {
    justify-content: flex-end;
}

.f-s {
    justify-content: flex-start;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-auto {
    flex: auto;
}
.flex-basis {
    flex-basis: auto;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex-dr {
    flex-direction: row;
}

/* footer */
.foot {
    height: 50px;
}

/* H */

.height100 {
    height: 100%; 
}
.height70vh {
    height: 70vh;
}
.height80 {
    height: 80%;
}
.height10 {
    height: 10%; 
}
.height30vh {
    height: 30vh; 
}
.height25vh {
    height: 25vh;
}
.height600px {
    height: 600px; 
}
.height200px {
    height: 200px;
}


/* I */

/* icons */
.icons {
    width:2em;
    height:2em;
}
.images {
    height: 230px; 
    width: 153px; 
}
.image-auto {
    max-width: 100%;
    height: auto;
}

/* for new post */
input[type=text-newpost] {
    width: 80%;
    height: 2em;
    font-family: 'Poppins', sans-serif;
  }

/* for login and signup */

input[type=text-modal] {
    width: 50%;
    height: 3em;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 15px 0;
  }

input[type=password] {
    width: 50%;
    height: 3em;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 15px 0;
}

/* J */

.jc-center {
    justify-content: center;
}

/* M */

/* margin */
.ma {
    margin: auto;
}
.ml-a {
    margin-left: auto;
}
.mr-a {
    margin-right: auto;
}
.mt-30vh {
    margin-top: 30vh;
}
.ml-75 {
    margin-left: 75%; 
}

.ml-1em {
    margin-left: 1em; 
}

.ml-01em {
    margin-left: .1em; 
}

.ml-3em {
    margin-left: 3em;
  }
  .mr-3em {
    margin-right: 3em;
  }

  .mr-01em {
    margin-right: .1em;
  }

  .mt-3em {
    margin-top: 3em;
  }

  .mt-05em {
    margin-top: .5em;
  }
  .mt-1em {
      margin-top: 1em; 
  }

  .mb-3em {
    margin-bottom: 3em;
  }
  .mb-2em {
      margin-bottom: 2em;
  }

  .mb-1em {
    margin-bottom: 1em;
  }

  .mb-3em {
    margin-bottom: 3em;
  }
  .mb-2em {
      margin-bottom: 2em;
  }

  .mb-1em {
    margin-bottom: 1em;
  }






/* N */






/* P */

/* padding */

.pad-03em {
    padding: 0.3em;
}

.pad-15px {
    padding: 0px 15px 0 0;
}
.pad-20px {
    padding: 20px 0 0 0;
}
.pad-b-20px {
    padding-bottom: 20px;
}
.pad-40px {
    padding: 40px 0 0 0;
}
.pad-30px {
    padding: 30 30 30 30;
}
.pl-3em {
    padding-left: 3em;
}
.pr-3em {
    padding-right: 3em;
}

/* position */
.pos-a {
    position: absolute;
}
.pos-r {
    position: relative;
}
.pos-f {
    position: fixed;
}

/* O */

.op:hover{
    opacity: 0.5;
}
.op-50 {
    opacity: 0.5;
}
.o-scroll {
    overflow: scroll;
}
.overflow-h {
    overflow-x: hidden;
}

/* S */

/* flexbox */
.s-b {
    justify-content: space-between;
}

.s-e {
    justify-content: space-evenly;
}



/* T */

.t-d {
    text-decoration: none;
}

.t-a-r{
    text-align: right;
}
.t-a-c {
    text-align: center;
}


/* W */


/* width */

.w-100per {
    width: 100%;
}
.width-100vw {
    width: 100vw;
}
.width-7vw {
    width: 7vw;
}
.width-50 {
    width: 50%;
}

/* wrapper */

.wrapper {
    /* height: 100vh;
    width: 100vw;
    position: relative; */
    transition: transform 0.3s ease;
}

/* Z */

.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2;
}

/* Animation */

.bounce-1sec {
    position: relative;
    -webkit-animation:bounce 1s infinite;
  }

.bounce-2sec {
    position: relative;
    -webkit-animation:bounce 2s infinite;
  }
  
@-webkit-keyframes bounce {
    0%       { bottom:1px; }
    25%, 75% { bottom:3px; }
    50%      { bottom:5px; }
    100%     {bottom:0;}
  }

/* media queries */


/* Desktop */
@media screen 
and (min-width: 980px)
 {


  }

  /* Tablet */
@media screen 
and (min-width: 500px)
and (max-width: 979px) {





}


/* iPhone */
@media screen 
and (min-width: 0px) 
and (max-width: 499px){

   

    



    
}

